body{
    background-color: aqua;
}
.General{
    display: inline-block;
    height: 600px;
    width: 500px;
    background-color: whitesmoke;
    margin-left: 150px;
    margin-top: 30px;
    vertical-align: top;
    border-radius: 10px;
}
.Contact{
    display: inline-block;
    height: 600px;
    width: 500px;
    background-color:rgb(87, 87, 200);
    vertical-align: top;
    margin-top: 30px;
    border-radius: 10px;

}
.Contact h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: azure;
}
.General h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(79, 125, 219);
}
.input1{
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 8px;
    width: 350px;
    margin-left: 50px;
    height: 30px;
    border-radius: 10px;
    font-size: 50px;
}
.input2{
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 8px;
    width: 170px;
    margin-left: 50px;
    height: 30px;
    border-radius: 10px;
}
#check{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 10px;
}
#labelcheck{
    font-size: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
    border-radius: 10px;
}
.button:hover{
    background-color: aqua;
    border: 2px solid red;
    width: 100px;
    height: 50px;
    transition: ease-in-out 2s;
}